.maintext {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    flex-wrap: wrap;
}
h2 {
    background-color: #ffffff;
    border: 2px solid #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
body {
    background-image:url(../assets/images/maxresdefault.jpg);
    background-color: lightslategray;
}
.card {
    float: right;
    padding: 10px;
    position: relative;
    height: 400px;
    width: 400px;
}
#card4 {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
}
.card-img-top {
    margin: 0 auto;
    float: none;
}
.btn-primary {
    margin: 0 auto;
    float: none;
}
.container {
    overflow: auto;
    width: 960px;
    border: 10px solid purple;
}
#porttext {
    display: flex;  
    flex-wrap: wrap;
}
#portimage {
    float: right;
}
.clearfix::after {
    overflow: auto;
    padding: 10px;
    border: 2px solid darkolivegreen;
}